<h1>BOOKING DETAILS</h1>


<p><b>Date</b> : <%= @booking.date %></p>

<p><b>payment type</b> : <%= @booking.payment_type %></p>
<p><b>Driver name</b> : <%= @booking.driver_name %></p>
<p><b>User </b> : <%= @booking.user_name %></p>






